// dimensions
$popup-width: 18em;

// colors
$c-primary: #ee0000;
$c-text: #000;
$c-text--light: #fff5ed;

/********************************************/
/* Global stuff                             */
/********************************************/
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  padding: .5em;
  margin: 0;
  min-width: $popup-width;
}

*:focus {
  outline: 0;
}

.input {
  border: 1px solid rgb(191, 191, 191);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgb(68, 68, 68);
  font: inherit;
  margin-bottom: 0.8em !important;
  min-height: 2em;
  min-width: $popup-width;
  padding: 3px 3px 4px;
  outline: none;
}

input[type=radio] {
  display: none;

  & + label {
    cursor: pointer;
    display: inline-block;
    width: 48%;
    padding: 0.3em;
    box-sizing: border-box;
    background: #e8e8e8;
    text-align: center;

    &:first-of-type {
      border-radius: 3px 0 0 3px;
      margin-right: -2px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
      margin-left: -2px;
    }
  }
  &:checked + label {
    background: $c-primary;
    color: $c-text--light;
  }
}

.list {
  width: 100%;
  margin-bottom: .8em;

  option {
    font-size: 1.3em;
    padding: 0.3em 0.2em;
  }
}

%button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  border: 1px solid rgba(0, 0, 0, 0.247059);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px inset;
  color: rgb(68, 68, 68);
  font: inherit;
  margin: 0px 1px 0px 0px;
  outline: none;
  text-shadow: rgb(240, 240, 240) 0px 1px 0px;
  text-decoration: none;
  padding: .5em .4em;
  min-width: 4em;
  cursor: pointer;
}

.button, button, input[type="button"], input[type="submit"] {
  @extend %button;

}

.link {
  /* Reset */
  cursor: pointer;
  outline: 0;
  /* Layout */
  display: inline-block;
  /* Looks */
  border: none;
  text-decoration: none;
  padding: .2em .4em;
  line-height: 1.4em;
  color: $c-primary;

  &:hover {
    text-decoration: underline;
  }
}

.button-container {
  margin-top: 1em;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#status {
  /* avoid an excessively wide status text */
  display: block;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;

  &.success {
    margin: 0.5em 0;
    color: green;
  }

  &.error {
    margin: 0.5em 0;
    color: red;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

/********************************************/
/* Selection page                           */
/********************************************/
%selection {

  .title {
    font-size: 1.2em;
    margin: 0 0 .5em 0;
    font-weight: bold;
  }
  
  .container {
    margin-bottom: 0.8em;

    &.bottom {
      margin-bottom: 3em;
    }
  }
}

/********************************************/
/* Recording page                           */
/********************************************/
%recording {

  .title {
    font-size: 1.2em;
    margin: 0 0 .5em 0;
    font-weight: bold;
  }

  .label--light {
    color: #999;
    font-size: 85%;
    margin-bottom: 0.3em;
    
    &.block {
      display: block;
    }
  }

  hr {
    margin-bottom: 1em;
  }

  #work-item {
    display: none;
  }

  #github {
    display: none;
  }

  .list {
    margin-bottom: 1.8em;
  }

  textarea {
    width: 98%;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 1.1em;
  }

  .input {
    margin-bottom: 0.3em !important;
  }

  #date {
    margin-bottom: 0.3em;
  }

  #date-input {
    display: none;
  }

  #date-change-link {
    font-size: 85%;
  }
}

/********************************************/
/* Options page                             */
/********************************************/
%options {

  .title {
    font-size: 1.2em;
    margin: 0 0 .5em 0;
    font-weight: bold;
  }

  .container {
    margin-bottom: 0.8em;
  }

  .label {
    display: block;
    margin-bottom: 0.3em;
  }

  .checkbox {
    line-height: 1em;
  }
}



.selection {
  @extend %selection;
}

.recording {
  @extend %recording;
}

.options {
  @extend %options;
}