/********************************************/
/* Global stuff                             */
/********************************************/
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  padding: .5em;
  margin: 0;
  min-width: 18em;
}

*:focus {
  outline: 0;
}

.spinner {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.spinner .fa-spinner {
  font-size: 3em;
  color: #fff;
  margin-top: 3em;
}

.input {
  border: 1px solid #bfbfbf;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444444;
  font: inherit;
  margin-bottom: 0.8em !important;
  min-height: 2em;
  min-width: 18em;
  padding: 0.5em;
  outline: none;
  font-size: 0.8em;
}

input[type=radio] {
  display: none;
}
input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  width: 48%;
  padding: 0.3em;
  box-sizing: border-box;
  background: #e8e8e8;
  text-align: center;
}
input[type=radio] + label:first-of-type {
  border-radius: 3px 0 0 3px;
  margin-right: -2px;
}
input[type=radio] + label:last-of-type {
  border-radius: 0 3px 3px 0;
  margin-left: -2px;
}
input[type=radio]:checked + label {
  background: #ee0000;
  color: #fff5ed;
}

.list {
  width: 100%;
  margin-bottom: .8em;
}
.list option {
  font-size: 1.3em;
  padding: 0.3em 0.2em;
}

.button, button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.24706);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.07843) 0px 1px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px inset;
  color: #444444;
  font: inherit;
  margin: 0px 1px 0px 0px;
  outline: none;
  text-shadow: #f0f0f0 0px 1px 0px;
  text-decoration: none;
  padding: .5em .4em;
  min-width: 4em;
  cursor: pointer;
}

.link {
  /* Reset */
  cursor: pointer;
  outline: 0;
  /* Layout */
  display: inline-block;
  /* Looks */
  border: none;
  text-decoration: none;
  padding: .2em .4em;
  line-height: 1.4em;
  color: #ee0000;
}
.link:hover {
  text-decoration: underline;
}

.button-container {
  margin-top: 1em;
}
.button-container:after {
  content: "";
  display: table;
  clear: both;
}

#status {
  /* avoid an excessively wide status text */
  display: block;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
}
#status.success {
  margin: 0.5em 0;
  color: green;
}
#status.error {
  margin: 0.5em 0;
  color: red;
}
#status.warn {
  margin: 0.5em 0;
  color: #ffd62f;
}

.right {
  float: right;
}

.left {
  float: left;
}

/********************************************/
/* Selection page                           */
/********************************************/
.selection .title {
  font-size: 1.2em;
  margin: 0 0 .5em 0;
  font-weight: bold;
}
.selection .container {
  margin-bottom: 0.8em;
}
.selection .container.bottom {
  margin-bottom: 3em;
}
.selection #requirement-query {
  display: none;
}
.selection #requirement-query-button {
  float: right;
  margin-top: 0.16em;
  margin-right: 0.5em;
  cursor: pointer;
}
.selection #requirement-query-input {
  width: 90%;
  min-width: 90%;
}
.selection #requirement-query-close-button {
  float: right;
  margin-right: 0.5em;
  margin-top: 0.4em;
  cursor: pointer;
}

/********************************************/
/* Recording page                           */
/********************************************/
.recording .title {
  font-size: 1.2em;
  margin: 0 0 .5em 0;
  font-weight: bold;
}
.recording .label--light {
  color: #999;
  font-size: 85%;
  margin-bottom: 0.3em;
}
.recording .label--light.block {
  display: block;
}
.recording #selected-requirement {
  display: none;
}
.recording hr {
  margin-bottom: 1em;
}
.recording #work-item {
  display: none;
}
.recording #github {
  display: none;
}
.recording .list {
  margin-bottom: 1.8em;
}
.recording textarea {
  width: 98%;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 1.1em;
}
.recording .input {
  margin-bottom: 0.3em !important;
}
.recording #date {
  margin-bottom: 0.3em;
}
.recording #date-input {
  display: none;
  width: 50%;
  min-width: 50%;
}
.recording #date-input-button {
  display: none;
}
.recording #date-change-link {
  font-size: 85%;
}

/********************************************/
/* Options page                             */
/********************************************/
.options .title {
  font-size: 1.2em;
  margin: 0 0 .5em 0;
  font-weight: bold;
}
.options .container {
  margin-bottom: 0.8em;
}
.options .label {
  display: block;
  margin-bottom: 0.3em;
}
.options .checkbox {
  line-height: 1em;
}
